{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
    <div class="details">
        <h1>{{ movie.id }}. {{ movie.titulo }}</h1>
        <h2>By {{ movie.director }}</h2>
        <p>Esta pelicula, clasificada por muchos como {{ movie.categoria }}, aparecio en los cines en el año {{ movie.año }}.
            Tiene por protagonistas a:
        </p>
            {% for actor in movie.actores %}
                - {{ actor.nombre }} como "{{ actor.personaje }}"<br/>
            {% endfor %}
        </p>

        <form action="/add_cart" method="post" novalidate>
            <button type="submit" class="black_white_button">
                <input type="hidden" name="id" value="{{ movie.id }}">
                <div class=butt>Meter en carrito</div>
            </button>
        </form>
    </div>
{% endblock %}