/* Main structure */

.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	border: 3px solid blue;
}

header {
	border: 3px solid red;
}

.navbar {
	display: flex;
	flex-direction: row;
	border: 3px solid red;
}

.navbar-left {
	display: flex;
	justify-content: left;
	width: 80%;
}

.navbar-right {
	display: flex;
	justify-content: right;
	width: 20%;
}

.center {
	display: flex;
	flex-direction: row;
	border: 3px solid blue;
}

.content {
	border: 3px solid purple;
	width: 80%;
}

.sidebar {
	border: 3px solid orange;
	width: 20%;
}

footer {
	text-align: center;
	border: 3px solid green;
}

/* Elements */

#header_title {
	margin: 0;
}

#header_subtitle {
	margin-top: 10px;
}

.butt_link {
	text-decoration: none;
	background-color: yellow;
	border: 3px solid brown;
}

select {
	background-color: aqua;
}