/* Main structure */

body {
    margin: 1em;
}

header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    height: 60px;
    background-color: white;
    border: 2px solid black;
}

.center {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    width: 80%;
    margin-right: 1em;
    background-color: white;
    border: 2px solid black;
}

.sidebar {
    width: 20%;
    text-align: justify;
    background-color: white;
    border: 2px solid black;
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    height: 60px;
    background-color: white;
    border: 2px solid black;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

header a {
    color: black;
}

header a:visited {
    color: black;
}

.nav-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
    border: 2px solid black;
}

.header-link-div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.header-bunch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}


/* Elements */

#header-link {
    display: flex;
    text-decoration: none;
}

#header-link:visited {
    text-decoration: none;
}

#header-logo {
    height: 100%;
}

#header-title {
    margin: auto;
}

#header-subtitle {
    margin: auto;
}

.butt {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto 1em auto 1em;
}

.butt_link {
    margin: auto;
    text-decoration: none;
}

#butt_categories {
    margin: auto;
}

select {
    height: 30%;
}