{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if compra %}
        <p>Compra realizada con éxito!</p>
    {% else %}
    <div class="details">
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        
        {% if movies %}
        {% for movie in movies %}
        <form action="{{ url_for('delete') }}" method="POST">
            <div class="item-carrito">
                {{ movie.cantidad }} - {{ movie.precio }}€ - {{ movie.titulo }}
                <input type="text" name="prod_id" value="{{ movie.prodid }}" hidden>
                <input type="submit" value="Eliminar del carrito">
            </div>
        </form>
        {% endfor %}
            <p>Precio total: {{ total }}€</p>
        <form action="{{ url_for('cart') }}" method="POST">
            {% if user %}
                <input class="butt_link" type="submit" value="Comprar">
            {% else %}
                <p>Not logged in, to buy movies please Login or <a href="{{ url_for('register') }}">Register</a></p>
            {% endif %}
        </form>
        {% else %}
            <p>El carrito está vacío, compra algo y vuelve!</p>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}