{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
    {% if historial %}
        <br/>
        {% for compra in historial %}
            <a onclick='desplegar("{{ compra.fecha }}")'>Compra de: {{ compra.fecha }}</a>
            <div id='div_{{ compra.fecha }}'>
                <ul>
                {% for pelicula in compra.peliculas %}
                    <li>{{ pelicula.title }} - {{ pelicula.valor }}€</li>
                {% endfor %}
                </ul>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>No hay compras</p>
    {% endif %}
    <p>Saldo: {{ money }}€</p>
    <form action="{{ url_for('historial') }}" method="POST">
        <input type="number" step="any" min="1" name="dinero" required/>
        <input type="submit" value="Añadir Fondos"/>
    </form>
{% endblock %}